
html {
	height: 100%
}
body {
background-color: white;
font-style: roboto;

}
h1 {
font-size: 4rem;
line-height: 4rem;
text-shadow: 0 0 4px white;
color: #000080;
padding-top: 15px;
margin: 0 0;
}
.kop{
background-color: #89cff0;
color: #000080;
text-align: center;
padding-bottom: 15px;
border-style: solid;
border-color: #000080;
border-width: 2px 2px 0 2px;

}


.logo {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	position: center;
}

#logotrans {width: 15em; height: 15em;}
footer { 
color: gray;
font-style: bierstadt;
text-align: center;


}

h2 {
	font-size: 1.5em;
	color: #000080;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
	text-align: center;
	padding-bottom: 0.5em;
	background-color: transparent;
}
/* keuzemenu opmaak ********************************************************************************/
.keuzeMenu {
	display: flex;
	background-color: #89cff0;
	gap: 0.2em;
	font-size: 1em;

}
.keuzeMenu > *{
	flex-basis: 100%;
	flex-wrap: wrap;
	text-align: center;
	border-style: solid;
	border-color: #000080;
	border-width: 0px 2px 2px 2px;
	
}
/* button opmaak ****************************************************************************/
button {
	border: none;
	background-color: transparent;
	text-decoration: shadow;
	font-size: 1em;
	text-shadow: 0 0 1px white;
	color: black;
	
}
button:hover {
	color: Red;
}

.drpbtn {
	font-size: 1em;
}
/* link opmaak ************************************************************************************************/
a {
	text-decoration: none;
	font-size: 1.2em;
}
/* unvisited link */
a:link {
  	text-decoration: shadow;
	text-shadow: 0 0 1px white;
	color: #000080;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* visited link */
a:visited {
  	text-shadow: 0 0 1px black;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* mouse over link */
a:hover {
  color: Red;
}

/* selected link */
a:active {
  	text-shadow: 0 0 1px black;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
}
/* drop down menu ****************************************************************************/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #89cff0;

    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	width: 15em;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: red;}

/* tot hier loopt de CSS voor de navbar en de titel *****************************************************************************/

/* start van de css voor de product rijen !!!! *************************************************************************************/

/* side scroll */
.rijGebak {
	display: flex;
	flex-wrap: no-wrap;
	overflow: scroll; 
	overflow-y: hidden;
	padding: 1em;
	height: 17 em;
	
	margin: 1em;
	text-align: center;
}
.product {
	flex: 0 0 auto;
	height: 16em;
	width: 16em;
	max-width: 100%;
	margin-right: 10px;
  	box-shadow: 5px 5px 5px gray;
	border-style: solid;
	border-color: #000080;
	border-width: 2px 0px 0px 2px;
} 

.pic{
	height: 15em;
	width: 15em;
}
.picbreed {
	height: 10em;
	width:17,7em;
}
.marpad {
	margin: 0,1em;
	padding: 0,1 em;
}
