html {
	height: 100%
}
body {
background-color: white;
font-style: bierstadt;
}
h1 {
font-size: 4rem;
line-height: 4rem;
text-shadow: 0 0 2px black;
color: #faca30;
padding-top: 15px;
margin: 0 0;
}
h2 {
	font-size: 1.5em;
	text-shadow: 0 0 1px black;
	color: #faca30;
	margin-top: 0px;
	margin-bottom: 5px;
}
.kop{
background-color: #d2aa6d;
color: black;
text-align: center;
padding-bottom: 15px;
border-style: solid;
border-color: #faca30;
border-width: 2px;
box-shadow: 5px 0 5px gray;
}


.keuzeMenu {
list-style: none;
margin: 0;
padding: 0;
/* kolommen doen rare dingen!
column-count: 6;
column-width: 10em;
column-rule-width: 2px ;
column-rule-style: solid;
column-rule-color: #faca30;
background-color: #d2aa6d;
*/
/*
display: grid;
gap: 2px;
background-color: #faca30;
grid-template-columns: repeat(7, 1fr);
*/
/*flexbox*/
display: flex;
gap:2px;
flex-wrap: wrap;

background-color: #faca30;
text-align: center; 
box-shadow: 5px 5px 5px gray;
border-style: solid;
border-color: #faca30;
border-width: 0 2px 2px 2px;

}

.keuzeMenu li {
	flex-shrink: 1;
	flex-grow: 1;
	width: 160px;
}

#KMK{
	background-color: #d2aa6d;
}

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	position: center;
}
footer { 
color: gray;
font-style: bierstadt;
text-align: center;


}
a {
	text-decoration: none;
}
/* unvisited link */
a:link {
  	text-shadow: 0 0 1px black;
	color: #faca30;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* visited link */
a:visited {
  	text-shadow: 0 0 1px black;
	color: #faca30;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* mouse over link */
a:hover {
  color: Red;
}

/* selected link */
a:active {
  	text-shadow: 0 0 1px black;
	color: #faca30;
	margin-top: 0px;
	margin-bottom: 5px;
}

.dropbtn {
    background-color: #d2aa6d;
    color: #faca30;
	text-shadow: 0 0 1px black;
    padding: 1em;
    font-size: 1em;
    border-style: solid;
	border-color: #faca30;
	border-width: 0 2px 2px 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;

    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: red;}