html {
	height: 100%
}
body {
background-color: white;
font-style: roboto;

}
h1 {
font-size: 4rem;
line-height: 4rem;
text-shadow: 0 0 2px black;
color: #faca30;
padding-top: 15px;
margin: 0 0;
}
.kop{
background-color: #d2aa6d;
color: black;
text-align: center;
padding-bottom: 15px;
border-style: solid;
border-color: #faca30;
border-width: 2px 2px 0 2px;

}
.keuzeMenu {
	display: flex;
	background-color: #d2aa6d;
	gap: 0.2em;
	font-size: 1em;

}
.keuzeMenu > *{
	flex-basis: 100%;
	flex-wrap: wrap;
	text-align: center;
	border-style: solid;
	border-color: #faca30;
	border-width: 0px 2px 2px 2px;
	
}
button {
	border: none;
	background-color: transparent;
	text-decoration: shadow;
	font-size: 1em;
	text-shadow: 0 0 1px black;
	color: black;
	
}
button:hover {
  color: Red;
}
#dropbtn {
    background-color: #faca30;
    color: Black;
	text-shadow: 0 0 1px black;
    
    font-size: 1em;
    border: none;

}
.drpbtn {
	font-size: 1em;
}

/* .keuzeMenu {
list-style: none;
margin: 0;
padding: 0;
/* kolommen doen rare dingen!
column-count: 6;
column-width: 10em;
column-rule-width: 2px ;
column-rule-style: solid;
column-rule-color: #faca30;
background-color: #d2aa6d;


display: grid;
gap: 2px;
background-color: #faca30;
grid-template-columns: repeat(7, 1fr);

flexbox
display: flex;
gap:2px;
flex-wrap: wrap;

background-color: #faca30;
text-align: center; 
box-shadow: 5px 5px 5px gray;
border-style: solid;
border-color: #faca30;
border-width: 0 2px 2px 2px;
}

.keuzeMenu li {
	flex-shrink: 1;
	flex-grow: 1;
	width: 300px;
}*/

#KMK{
	background-color: #d2aa6d;
}

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	position: center;
}
.pic{
	height: 15em;
	width: 15em;
}
.picbreed {
	height: 10em;
	width:17,7em;
}
#logotrans {width: 15em; height: 15em;}
footer { 
color: gray;
font-style: bierstadt;
text-align: center;


}
a {
	text-decoration: none;
}
/* unvisited link */
a:link {
  	text-shadow: 0 0 1px black;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* visited link */
a:visited {
  	text-shadow: 0 0 1px black;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
}

/* mouse over link */
a:hover {
  color: Red;
}

/* selected link */
a:active {
  	text-shadow: 0 0 1px black;
	color: black;
	margin-top: 0px;
	margin-bottom: 5px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;

    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	width: 15em;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: red;}

/* tot hier loopt de CSS voor de navbar en de titel */

h2 {
	font-size: 1.5em;
	color: navy;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 0.2em;
	margin-left: 0.2em;
	text-align: center;
	padding-bottom: 0.5em;
	background-color: transparent;
}

.rijGebak {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	text-align: center;
	gap: 1em;

}
.rijGebak >*{
	flex-grow: 1;
}
/* Roll menu initiele poging afbeeldingen spreiden zich helemaal uit over de pagina...
div.rijGebak > * {
	overflow-x: auto;
	overflow-y: hidden;
  white-space: nowrap;
}

div.rijGebak a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.rijGebak a:hover {
  background-color: #777;
}
*/

.product {
	box-shadow: 5px 5px 5px gray;
	border-style: solid;
	border-color: #faca30;
	border-width: 2px 0px 0px 2px;
	
}

.marpad {
	margin: 0,1em;
	padding: 0,1 em;
}